{% extends 'Final_P1/base.html' %}
{% load static %}
{% block body %}
<div class="container">
   <div class="row">
      <div class="col-sm">
         <ul class="list-group list-group-flush">


            <li class="list-group-item">
                 <h1 class="rounded">President</h1>
               <p>Name: Lucas G Anderson<br>
                  Major: Robotics and Mechatronics Engineering Technology<br>
                  Grade: Senior<br>
                  About me: I'm from NH and I've been involved in competitive robotics for about 14 years.
               </p>
            </li>
         </ul>
      </div>
      <div class="col-sm">
         <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h1 class="rounded">V-President</h1>
               <p>Vice-President
                  Name: Hayden Ingram Major:<br>
                  Major: Art(Animation)<br>
                  Grade: Sophmore <br>
                  About Me:I play a lot of video games but im super bad at all of them
               </p>
            </li>
         </ul>
      </div>
      <div class="col-sm">
         <ul class="list-group list-group-flush">
            <li class="list-group-item">
                  <h1 class="rounded">Secretary </h1>
               <p>Name: Matthew White<br>
                  Major: Mechanical Engineering (General) <br>
                  Grade: Senior<br>
                  About me: Enjoy playing as Overwatch with CCSU's team, and  playing other games with friends.
               </p>
            </li>
         </ul>
      </div>
      <br>
      <div class="col-sm">
         <ul class="list-group list-group-flush">
            <li class="list-group-item">
                 <h1 class="rounded">Treasurer</h1>
               <p>Name: Michael Brouwer<br>
                  Major: Computer Science<br>
                  Grade: Senior<br>
                  About me: I'm from Florida.
               </p>
            </li>
         </ul>
         <!-- Mike, how do we make more space between the elements !-->
      </div>
   </div>
   <br>
   <div class="row">
      <div class="col-12">
         <h1 class = "CCSUThank"> We wanted to thank CCSU for giving the Esports club continued support over the years. Check out these  CCSU related links
            for more info and resources about our school!
         </h1>
         <ul>
            <li class="list-group-item"><a href = "https://www2.ccsu.edu"> Visit CCSU Home Page</a></li>
            <li class="list-group-item"> <a href = "https://www.ccsu.edu/registrar/registration"> Thinking about attending Central Connecticut State University?</a> </li>
            <li class="list-group-item">More links</li>
         </ul>
      </div>
   </div>
</div>
{% endblock %}%}