{% extends 'Final_P1/base.html' %}
{% load static %}
{% block body %}


<div class="container">
  <div class="row">
    <div class="col-sm">
         <ul class="list-group list-group-flush">
         <div class="container">
          <h1 class="rounded">President</h1>
      </div>
             <li class="list-group-item"><p>Lucas G Anderson<br>Robotics and Mechatronics Engineering Technology<br>Senior<br>About me: I'm from NH and I've been involved in competitive robotics for about 14 years.</p></li>

  <li class="list-group-item">Shoot me a message if you want to talk!</li>

</ul>
    </div>
    <div class="col-sm">
 <ul class="list-group list-group-flush">
         <div class="container">
          <h1 class="rounded">VPresident</h1>
      </div>
  <li class="list-group-item">"Quote from VPresident"</li>
  <li class="list-group-item">It’s allowed me to connect with other people who hold the same likes and similarities as me.</li>
</ul>
    </div>
    <div class="col-sm">
      <ul class="list-group list-group-flush">
         <div class="container">
          <h1 class="rounded">Secretary </h1>
      </div>
  <li class="list-group-item">"Quote from Secretary"</li>
  <li class="list-group-item">It’s allowed me to connect with other people who hold the same likes and similarities as me.</li>
  <li class="list-group-item"><img src ="PICTURE"></li>
</ul>
    </div>
      <div class="col-sm">
      <ul class="list-group list-group-flush">
         <div class="container">
          <h1 class="rounded">Treasurer</h1>
      </div>
  <li class="list-group-item">"Quote from Treasurer"</li>
  <li class="list-group-item">It’s allowed me to connect with other people who hold the same likes and similarities as me.</li>
  <li class="list-group-item"><img src ="PICTURE"></li>
</ul>

            <!-- Mike, how do we make more space between the elements !-->
          <br>   <br>  <br>  <br>
    </div>
  </div>
<div class="row">

  <div class="col-12">
  <h1 class = "CCSUThank"> We wanted to thank CCSU for giving the Esports club continued support over the years. Check out these  CCSU related links
      for more info and resources about our school!</h1>
    <ul>
        <li class="list-group-item"><a href = "https://www2.ccsu.edu"> Visit CCSU Home Page</a></li>
        <li class="list-group-item"> <a href = "https://www.ccsu.edu/registrar/registration"> Thinking about attending Central Connecticut State University?</a> </li>
        <li class="list-group-item">More links</li>
    </ul>
      </div>
</div>
</div>



{% endblock %}%}