{% extends 'Final_P1/base.html' %}
{% load static %}
{% block body %}
<div class = "container">
    <h1>Here are some of our members!
    <p> If you want to join this list of members create an account!</p></h1>

<ul>
     <table class="table-light">
        {% for student in students %}

  <thead>
    <tr>
        <th scope="col"></th>
      <th scope="col">Username</th>
      <th scope="col">Looking for Competetive team:</th>
      <th scope="col">Looking for Casual: </th>
      <th scope="col">Delete</th>
        <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>{{ student }}</td>
      <td>{{ student.lookingforComp }}</td>
      <td>{{ student.lookingforCasual }}</td>
         <td><form action="{% url 'Delete-StudentForm' student.id %}" method="post">
    {% csrf_token %}

    <button type="submit" value="Delete" class="btn btn-danger">Delete?</button>
</form></td>
         <td>
        <form action="{% url 'Update-StudentForm' student.id %}" method="post">
    {% csrf_token %}
    <button type="submit" value="Update"  class="btn btn-secondary">Update?</button>
</form></td>
    </tr>
  </tbody>
    {% endfor %}
</table>
    {% endblock %}%}
</ul>
    </div>

