{% extends 'Final_P1/base.html' %}
{% load static %}
{% block body %}
<div class = "container">
    <h1>Here are some of our members!</h1>
<p> If you want to join this list of members create an account!</p>
<ul>
    {% for student in students %}
        <br><li>USERNAME: {{ student }} <br> Looking for Competetive team:
        {{ student.lookingforComp }}<br> Looking for Casual: {{ student.lookingforCasual }} </li>

<form action="{% url 'Delete-StudentForm' student.id %}" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete {{  student }}</p>
    <button type="submit" value="Delete"></button>
</form>

        <form action="{% url 'Update-StudentForm' student.id %}" method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete {{  student }}</p>
    <button type="submit" value="Update">Update</button>
</form>
    {% endfor %}

    {% endblock %}%}
</ul>
    </div>

