{% extends 'Final_P1/base.html' %}

{% block body %}
        <div class="row">
  <div class="column">
   <a href="https://www.smashbros.com/en_US/">
       <!--https://www.smashbros.com/en_US/ -->
             <img src="static/images/Smash.jpg"  class="rounded mx-auto d-block" alt="..."  height=100% width="200px" id="gameimg">
        </a>

  </div>
  <div class="column">
    <a href="https://www.fifa.com/">
        <!--https://www.fifa.com/ -->
             <img src="static/images/Fifa.png"  class="rounded mx-auto d-block" alt="..." height=100% width="150px" id="gameimg">
        </a>

  </div>
  <div class="column">
    <a href="Roster/Overwatch">
        <!--https://playoverwatch.com/en-us/ -->
            <img src="static/images/overwatch-cover.jpg"  class="rounded mx-auto d-block" alt="..."  height=100% width="200px" id="gameimg">
    </a>

  </div>
  <div class="column">
    <a href="https://playhearthstone.com/en-us">
        <!--https://playhearthstone.com/en-us -->
            <img src="static/images/hearthstone_game_image.jpg" class="rounded mx-auto d-block" alt="..."  height=100% width="200px" id="gameimg">
        </a>
  </div>
</div>


{% endblock %}%}