{% extends 'Final_P1/base.html' %}
{% load static %}
{% block body %}
        <!-- Carousel -->
     	   <!--Carousel Wrapper-->
<div id="video-carousel-example" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#video-carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#video-carousel-example" data-slide-to="1"></li>
    <li data-target="#video-carousel-example" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
       <video class="video-fixed" autoplay loop muted src="{% static 'video/Overwatch_1.mp4' %}">
      </video>
    </div>
    <div class="carousel-item">
       <video class="video-fixed" autoplay loop muted src={% static 'video/Smash_1.mov'%} >
      </video>
    </div>
    <div class="carousel-item">
          <video class="video-fixed" autoplay loop muted src={% static 'video/Smash_2.mov'%} >

      </video>

    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#video-carousel-example" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#video-carousel-example" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--Carousel Wrapper-->
    <div class="container-fluid" id='content'>
  <div class="row">
    <div class="col-xl-4">
     <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">CCSU Overwatch Finishes Playoffs in 4th Place</h5>

    </div>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">CCSU Overwatch Advances to Top 8</h5>
    </div>

  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">CCSU Overwatch Advances to Top 16</h5>

    </div>

  </a>
         <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">CCSU Overwatch finish's preason going 5-0</h5>

    </div>

  </a>
         <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">CCSU Overwatch finish's preason going 5-0</h5>

    </div>

  </a>
</div>
    </div>
    <div class="col-xl-5">
      <div class="container">
          <h1 class="rounded-pill">Mission Statement</h1>
          <p>CCSU's eSports and Gaming Club strives to create an environment that welcomes both competitive and casual players in one club.
              While hosting some teams that compete in tournaments throughout each semester,
              we also host events on campus where students are encouraged to join and have some fun with like minded students.
              Meetings are held every other weekend where members are invited to communicate on the topics of what kind of event the members would like to see in the future
              where they are then voted upon. With the creation of the eSports room, this allows the access of our club to spread out to a wider range of students
              on campus that would have otherwise not previously known of the club.
              Each member's opinion in the club is important as they are what makes the club so succesful every semester.</p>
      </div>
    </div>
    <div class="col-xl-3">
     <ul class="list-group list-group-flush">
          <h1 class="rounded">How the Club has benefited the Communtity</h1>

  <li class="list-group-item">It’s allowed me to meet the rest of the team and many other
players here at CCSU, and it’s been an absolute blessing to have most of them be my good friends.</li>
  <li class="list-group-item">It’s allowed me to connect with other people who hold the same likes and similarities as me.</li>
  <li class="list-group-item">It provided me with the ability to meet
with players of my competitions to truly bring me to the idea that I can improve at Smash</li>
  <li class="list-group-item">It has allowed me to compete at a higher level with friends</li>
  <li class="list-group-item">Yes, gave me the opportunity to become part of the Eboard and experience the creation of the Esports room firsthand.</li>
</ul>
    </div>
  </div>
</div>
{% endblock %}%}